name: Publish Package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build
        run: |
          wasm-pack build --target nodejs --out-dir pkg/nodejs/pkg --out-name wasmjieba-nodejs --release
          wasm-pack build --target web --out-dir pkg/web/pkg  --out-name wasmjieba-web --release

      - name: Install tomlq
        run: |
          sudo apt-get update
          sudo apt-get install -y yq

      - name: Publish
        run: |
          ./package.sh
          wasm-pack publish pkg/nodejs/pkg
          wasm-pack publish pkg/web/pkg
          wasm-pack publish pkg
